@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
:root {
    --main-color: #4abdac;
    --second-color: #fc4a1a;
    --third-color: #f7b733;
    --fourth-color: #dfdce3;
}

body {
    background-color: #F5F5F5;
    margin: 0;
}

html {
    font-size: 16px;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.btn {
    cursor: pointer;
}

.btn:focus {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    border: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

.table {
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

.table-row {
    border: solid var(--main-color);
    border-width: 1px 0;
}

.table-data {
    vertical-align: middle;
    padding: .75rem;
}

.folder-icon {
    width: 5%;
    padding-right: 0 !important;
}

.fa-folder {
    font-size: 1.5em;
    color: var(--main-color);
}

.table-data a {
    text-decoration: none;
    font-size: 1.15em;
    color: var(--main-color);
    display: block;
}

.no-folders {
    text-align: center;
    margin-top: 15px;
    color: var(--main-color);
    font-size: 1.5em;
}

.icon-options {
    width: 20%;
    align-items: center;
}

.fa-edit {
    color: var(--third-color);
}

.fa-trash-alt {
    color: var(--second-color);
}

.fa-edit:hover {
    color: #dea42d;
}

.fa-trash-alt:hover {
    color: #c93b14;
}

.option-icon {
    margin-left: 1em;
}

.float-r {
    float: right;
}

.fas {
    cursor: pointer;
    font-size: 1.5em;
}

.app-main {
    margin-top: 70px;
}

.main-input {
    border-radius: .25rem;
    border: 1px solid #ddd;
    padding: .5rem 1rem;
    height: 2.15em !important;
    font-size: 1.25em;
}

.main-input:focus {
    outline: none;
    border: 3px solid var(--main-color);
}

hr {
    margin-bottom: 20px;
    margin-top: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.navbar {
    background-color: var(--main-color);
    padding: .5rem 1rem;
    height: 50px;
    position: fixed;
    top: 0;
}

.navbar-menu {
    line-height: 35px;
}

.navbar-items {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.nav-btn {
    color: white;
    background-color: transparent;
    border: 0;
    font-size: 1.25rem;
}

.row {
    height: 42px;
}

.clickable-row:hover {
    cursor: pointer;
    background-color: #e8f7f5;
}

.information-row {
    border-bottom: 2px solid var(--main-color);
    padding: 0px 15px;
}

.information-row .heading {
    font-size: 1.75rem;
    font-weight: 500;
    display: inline-block;
    color: #1c4e46;
    margin-bottom: 15px;
    margin-right: 10px;
}

.add-icon {
    font-size: 1.73em;
    color: var(--main-color);
}

.add-icon:hover {
    color: #41b2a2;
    cursor: pointer;
}

.h-100 {
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

.shadow {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.section {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.form-section {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.form-section>form {
    width: 100%;
    padding: 0.5rem;
}

.form-group {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.form-group input {
    width: 100%;
    height: 2rem;
    padding: 5px 8px;
    border-radius: .25rem;
    border: 1px solid #ddd;
}

.form-group .btn {
    height: 3rem;
    border: 1px solid transparent;
    font-size: 1.1rem;
    border-radius: .25rem;
    cursor: pointer;
    color: white;
}

.show {
    display: block !important;
    opacity: 1;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 1s;
}

.modal-dialog {
    max-width: 30%;
    margin: 1.75em auto;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-family: inherit;
    font-size: 1.5em;
}

.modal-body {
    padding: 1rem;
}

.modal-body.form-group {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.modal-footer .btn {
    display: inline-block;
    font-weight: 250;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.modal-footer .btn-default {
    margin-right: 0.75rem;
    color: black;
}

.modal-footer .btn-primary {
    color: white;
}

button.close {
    background-color: transparent;
    border: 0;
    font-size: 1.5em;
    cursor: pointer;
}

.btn-form-group {
    margin-top: 4rem;
}

.aligncenter {
    text-align: center;
}

.btn-primary {
    background-color: var(--main-color);
}

.required {
    color: #bd2130;
    font-size: 1.2rem;
}

#error-list {
    color: #BB3937;
}

#login-form-section {
    width: 30%;
    margin-top: 7rem;
}

#register-form-section {
    width: 35%;
    margin-top: 5rem;
}

.link {
    color: var(--main-color);
}

#success-section {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin-top: 15rem;
    display: none;
}

#success-section a {
    font-size: 1.1rem;
}

.grid {
    margin-top: 10px;
    display: grid;
    grid-auto-rows: minmax(150px, 250px);
    grid-auto-columns: minmax(150px, 250px);
    grid-gap: 1em;
}

@media (max-width: 500px), (min-width: 300px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 750px), (min-width: 501px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px), (min-width: 751px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1250px), (min-width: 1001px) { 
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.file-content {
    height: 80%;
    width: 60%;
    margin: 0 auto;
}

.file-data {
    border-top: 1px solid var(--main-color);
    height: 20%;
}

.file {
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: white;
}

.file-thumb {
    border: 1px solid lightgrey;
}