@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
:root {
    --main-color: #4abdac;
    --second-color: #fc4a1a;
    --third-color: #f7b733;
    --fourth-color: #dfdce3;
    --text-color: #1c4e46;
}

body {
    background-color: #F5F5F5;
    margin: 0;
}

html {
    font-size: 16px;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

dt {
    font-weight: bold;
    color: var(--text-color);
}

dd {
    margin-left: 0;
    margin-bottom: 1rem;
}

textarea {
    resize: none;
}

.btn {
    cursor: pointer;
}

.btn:focus {
    outline: none;
    border: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

.container-large {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.table {
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

.table-row {
    border: solid var(--main-color);
    border-width: 1px 0;
}

.table-data {
    vertical-align: middle;
    padding: .75rem;
}

.folder-icon {
    width: 5%;
    padding-right: 0 !important;
}

.fa-folder {
    font-size: 1.5em;
    color: var(--main-color);
}

.table-data a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.table-data a:hover {
    text-decoration: underline;
}

.border {
    border: 1px solid #ddd;
}

.items-information {
    text-align: center;
    margin-top: 15px;
    color: var(--main-color);
    font-size: 1.5em;
}

.files-information {
    width: 100%;
}

.icon-options {
    width: 20%;
    align-items: center;
}

.fa-edit {
    color: var(--third-color);
}

.fa-trash-alt {
    color: var(--second-color);
}

.fa-edit:hover {
    color: #dea42d;
}

.fa-trash-alt:hover {
    color: #c93b14;
}

.option-icon {
    margin-left: 1em;
}

.float-r {
    float: right;
}

.fas {
    cursor: pointer;
    font-size: 1.3em;
}

.app-main {
    margin-top: 70px;
    padding-bottom: 3rem !important;
}

.main-input {
    border-radius: .25rem;
    border: 1px solid #ddd;
    padding: .5rem 1rem;
    height: 2.15em !important;
    font-size: 1.1em;
}

.main-input:focus {
    outline: none;
    border: 3px solid var(--main-color);
}

hr {
    margin-bottom: 20px;
    margin-top: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.navbar {
    background-color: var(--main-color);
    padding: .5rem 1rem;
    height: 50px;
    position: absolute;
    top: 0;
    z-index: 999;
}

.navbar-menu {
    line-height: 35px;
}

.navbar-items {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    line-height: calc(50px - 1rem);
    margin-right: 1rem;
    font-size: 1.1rem;
}

.nav-btn {
    color: white;
    background-color: transparent;
    border: 0;
    font-size: 1.1rem;
    transition: 0.2s ease;
}

.nav-btn:hover {
    color: var(--second-color);
}

.clickable-row:hover {
    cursor: pointer;
    background-color: #e8f7f5;
}

.information-row {
    border-bottom: 2px solid var(--main-color);
    padding: 0px 15px;
}

.folders-heading,
.files-heading {
    display: inline-block;
}

.heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 15px;
    margin-right: 10px;
}

.add-icon,
.export-icon,
.share-icon,
.delete-icon,
.external-app-icon {
    transition: 0.2s ease;
    vertical-align: bottom;
}

.add-icon {
    font-size: 1.73em;
    color: var(--main-color);
    display: inline-block;
    margin-right: 0.2rem;
    margin-bottom: 17px;
}

.add-icon:hover {
    color: var(--second-color);
    cursor: pointer;
}

.export-icon {
    font-size: 1.6rem;
    color: var(--second-color);
    margin-bottom: 19px;
}

.export-icon:hover {
    color: var(--main-color);
    cursor: pointer;
}

.share-icon {
    color: var(--main-color);
}

.share-icon:hover {
    color: var(--second-color);
}

.delete-icon {
    color: var(--second-color);
}

.delete-icon:hover {
    color: var(--main-color);
}

.external-app-icon {
    font-size: 1rem;
    color: var(--third-color);
}

.external-app-icon:hover {
    color: var(--second-color);
}

.h-100 {
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

.shadow {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.section {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.form-section {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.form-section>form {
    width: 100%;
    padding: 0.5rem;
}

.form-group {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px 8px;
    border-radius: .25rem;
    border: 1px solid #ddd;
}

.form-group input {
    height: 2rem;
}

.form-group textarea {
    height: 5rem;
}

.btn-normal {
    height: 3rem !important;
    border: 1px solid transparent;
    font-size: 1.1rem;
    border-radius: .25rem;
    cursor: pointer;
    color: white;
}

.show {
    display: block !important;
    opacity: 1;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 1s;
    z-index: 9999;
}

.modal-dialog {
    max-width: 30%;
    margin: 1.75em auto;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-family: inherit;
    font-size: 1.5rem;
}

.modal-body {
    padding: 1rem;
}

.modal-body.form-group {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.modal-footer .btn {
    display: inline-block;
    font-weight: 250;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.modal-footer .btn-default {
    margin-right: 0.75rem;
    color: black;
}

.modal-footer .btn-primary {
    color: white;
}

button.close {
    background-color: transparent;
    border: 0;
    font-size: 1.5em;
    cursor: pointer;
}

.btn-form-group {
    margin-top: 4rem;
}

.aligncenter {
    text-align: center;
}

.btn-primary {
    background-color: var(--main-color);
    transition: 0.2s ease;
}

.btn-primary:hover {
    color: var(--second-color);
}

.required {
    color: #bd2130;
    font-size: 1.2rem;
}

#error-list {
    color: #BB3937;
}

#login-form-section {
    width: 30%;
    margin-top: 7rem;
}

#register-form-section {
    width: 35%;
    margin-top: 5rem;
}

.link {
    color: var(--main-color);
}

#success-section {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin-top: 15rem;
    display: none;
}

#success-section a {
    font-size: 1.1rem;
}

.navbar-item {
    font-size: 1.1rem;
    margin-right: 1rem;
    color: white;
    display: inline-block;
}

.grid {
    margin-top: 10px;
    display: grid;
    grid-auto-rows: 240px;
    grid-auto-columns: 200px;
    grid-gap: 1em;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 820px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1400px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

.file-content {
    position: relative;
    height: 100%;
}

.file-data {
    background-color: white;
    width: 100%;
    text-align: center;
    max-height: 35px;
    overflow: hidden;
}

.file-item {
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: white;
    transition: 0.3s ease;
    height: 240px;
}

.file-item:hover {
    border-color: var(--second-color);
}

.file-item a {
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
}

.file-thumb {
    height: 70%;
}

.file-thumb img {
    width: 100%;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: inherit;
}

.file-type-icon {
    display: inline-block;
    font-size: 1.1em;
}

.file-name {
    padding: 12px 2px;
    font-size: 1em;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
}

.file-icon {
    width: 16px;
    height: 16px;
    margin-right: 0.25rem;
}

.file-icon-image img {
    width: 80px;
    height: 80px;
    position: relative;
    display: block;
    margin: auto;
}

.file-icon-image {
    padding-top: 35px;
    height: 70%;
}

.file-options {
    text-align: center;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    width: 100%;
    position: absolute;
    margin-top: 0.7rem;
}

.file-option {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    cursor: pointer;
}

#file-info-section {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

#file-view-section {
    display: inline-block;
    width: 58%;
    vertical-align: top;
    text-align: center;
    padding: 1rem;
}

#file-name {
    font-weight: bold;
}

#upload-file-form-section {
    width: 45%;
    max-width: 800px;
}

.back-icon {
    color: var(--main-color);
    display: inline-block;
    margin-right: 0.5rem;
    transition: 0.3s ease;
    cursor: pointer;
}

.back-icon:hover {
    color: var(--second-color);
}

#download-button {
    width: 150px;
}

#download-button .fa-download {
    display: inline-block;
    margin-right: 0.5rem;
}

.loader {
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid var(--main-color);
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.share-option {
    margin-bottom: 8px;
}

.hide {
    display: none;
}

.file-preview {
    width: 100%;
}

iframe.file-preview {
    height: 500px;
}