body {
    background-color: #eee;
}

video {
    display: block;
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
}